// @import 'reset';

// devices
$mobile-width: 425px;
$tablet-width: 769px;

// spacing
$default-padding-small: 10px;
$default-padding-large: 20px;
$logo-height: 40px;

// fonts
$main-font-style: 'Roboto',
sans-serif;

// colors
$topbar-text-color: #32649b;

// margins
$topbar-margin: 40px;

// shadows
$boxes-shadow: 0px 14px 14px rgba(0, 0, 0, 0.18);
$button-shadow: 2px 3px 4px rgba(0, 0, 0, 0.18);

body {
    background: #f9f9f9;
}

@mixin general-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin navbar {
    @include general-flex;

    width: 100%;
    position: fixed;
    background: white;
    height: $topbar-margin;
    justify-content: center;
}

@mixin button {
    margin-top: 10px;
    padding: 5px;
    background: green;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    color: white;
    cursor: pointer;

    &:hover {
        box-shadow: $button-shadow;
    }
}